<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">

    <meta content="<%= name %> (@<%= uid %>)" property="og:title" />
    <meta content="fxTikTok" property="og:site_name" />
    <meta property="og:url" content="<%= sharelink %>">
    <meta content="#ff0050" name="theme-color" />
    <meta property="og:video:width" content="<%= width %>">
    <meta property="og:video:height" content="<%= height %>">
    <meta property="og:video:type" content="video/mp4"/>
    <meta property="og:video" content="<%= videoUrl %>">
    <meta property="og:type" content="video.episode" />
</head>
<title>fxTikTok</title>
</head>

<body>

</body>

</html>